* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-weight: bold;
  
}

.App
{
  background: url(./background.png) no-repeat center center fixed; 
  background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 625px;

}
.logo
{
  margin-left: 15px;
  margin-top: 0px;
	float: left;
	width: 50px;
}

.navbar {

  background-color: #3A3A3A;
  list-style-type: none;
  padding: 20px 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  margin: 4px;
  font-size: 20px;
  color: #fff;
  background-color:#E13838;
	padding: 5px 40px;
	border: 5px solid transparent;
	transition: 0.6s ease;
	border-radius: 80px;
}
.navbar a:hover {
  background-color: #fff;
  color: #E13838;
  border: 2px solid #E13838;
  border-radius: 80px;
}

.loginbtn
{
  top: 58%;
  left: 19%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  background-image:linear-gradient(to top, #F6571B, #E13838);
  color: white;
  border:3px solid #3A3A3A;
  border-radius: 80px;
  padding: 15px 115px;
  margin: 4px 4px;
}

.signupbtn
{
  top: 70%;
    left: 19%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    background-color: #3A3A3A;
    color: #E13838;
    border:3px solid #E13838;
    border-radius: 80px;
    padding: 15px 100px;
    margin: 4px 4px;
}
.loginbtn:hover
{
    background-image:linear-gradient(to top,white, white);
    color: #E13838;
    border: 3px solid #E13838;
    transition: 0.6s ease;
}

.signupbtn:hover
{
    background-color: white;
    color: #E13838;
    transition: 0.6s ease;
}